In [1]:
#Import necessary libraries

import numpy as np
import pandas as pd
import csv
import os
import time

from sqlalchemy import create_engine
import psycopg2

In [2]:
#Import data generated in "Names_calculate_reduced"
#and prior actuarial calculations.

#From actuarial (small files):
alive_F = pd.read_pickle('./actuarial_data/life_F_df.pkl')
alive_M = pd.read_pickle('./actuarial_data/life_M_df.pkl')
alive_F_p = pd.read_pickle('./actuarial_data/life_F_p_df.pkl')
alive_M_p = pd.read_pickle('./actuarial_data/life_M_p_df.pkl')

#From 'Names_calculate_reduced':

#Total births, from SSA:
totalnames_table = pd.read_pickle('./processed_variables/Total_soc_cards.pkl')

# #Names dataframe, HANDLED BELOW
# names_df = pd.read_pickle('names_df.pkl')
# names_df_trim = pd.read_pickle('names_df.pkl')

#Year of birth data:
namelife_M_yob = np.load('./processed_variables/namelife_M_yob.npy')
namelife_F_yob = np.load('./processed_variables/namelife_F_yob.npy')
#"Base" life data (total of all ages alive each year):
namelife_M_base = np.load('./processed_variables/namelife_M_base.npy')
namelife_F_base = np.load('./processed_variables/namelife_F_base.npy')
#"Name" data: the names associated with each element:
namelife_M_name = np.load('./processed_variables/namelife_M_name.npy', allow_pickle=True)
namelife_F_name = np.load('./processed_variables/namelife_F_name.npy', allow_pickle=True)
#"Birth" data: the base how-many-per-year for all names:
namebirth_M = np.load('./processed_variables/namebirth_M.npy')
namebirth_F = np.load('./processed_variables/namebirth_F.npy')


#Calculated properties of the characteristic name sets:
sel_specif_F = np.load('./processed_variables/sel_specif_F140.npy')
sel_weight_F = np.load('./processed_variables/sel_weight_F140.npy')
sel_scores_F = np.load('./processed_variables/sel_scores_F140.npy')
sel_ages_F = np.load('./processed_variables/sel_ages_F140.npy')
sel_names_F = np.load('./processed_variables/sel_names_F140.npy', allow_pickle=True)
sel_inds_F = np.load('./processed_variables/sel_inds_F140.npy')

sel_specif_M = np.load('./processed_variables/sel_specif_M140.npy')
sel_weight_M = np.load('./processed_variables/sel_weight_M140.npy')
sel_scores_M = np.load('./processed_variables/sel_scores_M140.npy')
sel_ages_M = np.load('./processed_variables/sel_ages_M140.npy')
sel_names_M = np.load('./processed_variables/sel_names_M140.npy', allow_pickle=True)
sel_inds_M = np.load('./processed_variables/sel_inds_M140.npy')

In [3]:
selshape = sel_specif_F.shape
print(selshape)
print(np.prod(sel_specif_F.shape))

(142, 101, 3, 2, 140)
12047280

In [4]:
#These data structures contain a lot of elements! Let's reshape them
#to make a flat relational database. We'll build our structure using
#values rather than position, since the location of a datapoint in a
#5-D matrix is not very intuitive.

#Basic matrix shape that the data comes from: [142,101,3,2,140]
#Matrix description:
#For each year, 
#for each age, 
#for one of three potential year ranges,
#for one of two potential age ranges,
#for each of the 140 top names for that set,
#you have a single value.

#Matrix properties: 
#    Starting year: 0-141 (1880-2020)
#    Starting age: 0-100
#    Year range: 0-2, indicating up to [0, 4, or 10] years past start
#    Age range: 0-1, indicating up to [4 or 10] years past start
#    Name index: 0-139 (rank, out of 140 stored names for each year/age combo)

#Build a counting vector in the direction of the target axis, then
#tile it the correct number of times to fill the space. We'll 
#flatten this data below, and use the values to tell us where each
#row of data came from in the original matrix.
sel_baseinds0 = np.tile(np.arange(0,selshape[0]).reshape([selshape[0],1,1,1,1]), selshape[1:])
sel_baseinds1 = np.tile(np.arange(0,selshape[1]).reshape([1,selshape[1],1,1,1]), [selshape[0],*selshape[2:]])
sel_baseinds2 = np.tile(np.arange(0,selshape[2]).reshape([1,1,selshape[2],1,1]), [*selshape[:2],*selshape[3:]])
sel_baseinds3 = np.tile(np.arange(0,selshape[3]).reshape([1,1,1,selshape[3],1]), [*selshape[:3],*selshape[4:]])
sel_baseinds4 = np.tile(np.arange(0,selshape[4]).reshape([1,1,1,1,selshape[4]]), selshape[:-1])


#Database variables for each row:

#INDEXING DATA:
#Var 1: Starting year
#Var 2: Starting age
#Var 3: Year range (i.e. 4, covering year to year+4)
#Var 4: Age range (i.e. 4, covering age to age+4)
#Var 5: Nameind (rank within the 140 stored names for each combination)

#STORED VARIABLE DATA:
#Var 6: Specificity_F (Fraction of the name's person-years lived in the target range, female names)
#Var 7: Weight_F (Total person-years lived in the target range per year)
#Var 8: Scores_F (Aggregate score using specificity and weight (see "Names_calculate_reduced")
#Var 9: Ages_F (Mean age of nameholders of any age during the target year window)
#Var 10: Names_F (The names themselves)
#Var 11: Inds_F (Location of the name in the name-based structures, not referenced here)
#Var 12-17: Repeat vars 6-11, but with "_M"

sel_structure = pd.DataFrame(data = {'Baseyear': np.reshape(sel_baseinds0, [-1]),
                                     'Baseage': np.reshape(sel_baseinds1, [-1]),
                                     'yearrange': np.reshape(sel_baseinds2, [-1]),
                                     'agerange': np.reshape(sel_baseinds3, [-1]),
                                     'nameind': np.reshape(sel_baseinds4, [-1]),
                                     'specificity_F': np.reshape(sel_specif_F, [-1]),
                                     'weight_F': np.reshape(sel_weight_F, [-1]),
                                     'scores_F': np.reshape(sel_scores_F, [-1]),
                                     'ages_F': np.reshape(sel_ages_F, [-1]),
                                     'names_F': np.reshape(sel_names_F, [-1]),
                                     'inds_F': np.reshape(sel_inds_F, [-1]),
                                     'specificity_M': np.reshape(sel_specif_M, [-1]),
                                     'weight_M': np.reshape(sel_weight_M, [-1]),
                                     'scores_M': np.reshape(sel_scores_M, [-1]),
                                     'ages_M': np.reshape(sel_ages_M, [-1]),
                                     'names_M': np.reshape(sel_names_M, [-1]),
                                     'inds_M': np.reshape(sel_inds_M, [-1])},
                            )

In [5]:
sel_structure

,Baseyear,Baseage,yearrange,agerange,nameind,specificity_F,weight_F,scores_F,ages_F,names_F,inds_F,specificity_M,weight_M,scores_M,ages_M,names_M,inds_M
0,0,0,0,0,0,0.0,0.0,0.0,0.0,None,0,0.0,0.0,0.0,0.0,None,0
1,0,0,0,0,1,0.0,0.0,0.0,0.0,None,0,0.0,0.0,0.0,0.0,None,0
2,0,0,0,0,2,0.0,0.0,0.0,0.0,None,0,0.0,0.0,0.0,0.0,None,0
3,0,0,0,0,3,0.0,0.0,0.0,0.0,None,0,0.0,0.0,0.0,0.0,None,0
4,0,0,0,0,4,0.0,0.0,0.0,0.0,None,0,0.0,0.0,0.0,0.0,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12047275,141,100,2,1,135,0.0,0.0,0.0,0.0,None,0,0.0,0.0,0.0,0.0,None,0
12047276,141,100,2,1,136,0.0,0.0,0.0,0.0,None,0,0.0,0.0,0.0,0.0,None,0
12047277,141,100,2,1,137,0.0,0.0,0.0,0.0,None,0,0.0,0.0,0.0,0.0,None,0
12047278,141,100,2,1,138,0.0,0.0,0.0,0.0,None,0,0.0,0.0,0.0,0.0,None,0
12047279,141,100,2,1,139,0.0,0.0,0.0,0.0,None,0,0.0,0.0,0.0,0.0,None,0

In [6]:
#Doesn't handle write errors neatly, but it does work. Should be
#fine for local database like I'm using here, but some error 
#handling might be a good idea for remote?

#Would be better to load credential information from a separate
#credentials file, but this instance is a default-credential
#test database on my machine. 

alchemyEngine = create_engine('postgresql+psycopg2://postgres:password@localhost/namesdata')
postgreSQLConnection = alchemyEngine.connect();
postgreSQLTable = "sel_name_data";

#Alternative connection method:
# conn = psycopg2.connect(
#    database="postgres", user='postgres', password='password', host='127.0.0.1', port= '5432'
# )
# conn.autocommit = True

In [7]:
# %%time

#Gets really angry when I try to write the whole database at once, 
#eats many dozens of gigs of memory. Going piecewise seems to
#work fine, and memory usage stays below a gig. 

#Takes about 20 minutes total, writes >12,000,000 lines to a
#~2GB database. There are likely more efficient ways to do 
#this (just for starters, finding optimum write block size),
#but this method works fine as a starting point. 

refresh = False

if refresh: 
    subinds = [0,1000]
    frame = sel_structure[subinds[0]:subinds[1]].to_sql(postgreSQLTable, postgreSQLConnection, if_exists='replace')

    subrange = np.arange(1000,len(sel_structure), 1000)[:-1]
    for n in subrange:
        frame = sel_structure[n:n+1000].to_sql(postgreSQLTable, postgreSQLConnection, if_exists='append')
        if not n%100000:
            print(n)
    frame = sel_structure[n+1000:].to_sql(postgreSQLTable, postgreSQLConnection, if_exists='append')
    
else:
    #Don't need anything as an alternative.

100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
10000000
10100000
10200000
10300000
10400000
10500000
10600000
10700000
10800000
10900000
11000000
11100000
11200000
11300000
11400000
11500000
11600000
11700000
11800000
11900000
12000000

The SQL database at this point is pretty large, and takes up about 2GB of hard drive. Let's see if we can make it a little more sensible by sensibly assigning datatypes. The data in `pandas` defaults to "object" storage, since one column is character data, but we can probably make the SQL data much saner. We only really need int8 for most of the categories, so that might be a nice reduction.

In [ ]:
%load_ext sql
%sql sqlite:///small_data/customers.sqlite